#output {
    max-height: 100vh;
    overflow-y: auto;
    width: 100%;
}


.icon-size {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    margin-right: 5px;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-family: Arial, sans-serif;
}

th, td {
    padding: 5px;
    text-align: center;
    border: 1px solid #ddd;
}

th {
}

input[type="text"] {
    padding: 5px;
    margin: 10px 0;
    width: 100%;
    box-sizing: border-box;
}

.header {
    top: 15px;
    text-align: center;
    background: url(https://runeapps.org/nis/alt1-currentskin/nisbutton.png) 0px -100%/24px 400% repeat content-box;
    background-color: black;
    color: black;
    z-index: 1;
}