#output {
    max-height: 100vh;
    overflow-y: auto;
    width: 100%;
}


.icon-size {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    margin-right: 5px;
}



table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-family: Arial, sans-serif;
}

th, td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}

th {
    background-color: #f4f4f4;
}

th:hover {
    cursor: pointer;
    background-color: #ddd;
}

input[type="text"] {
    padding: 5px;
    margin: 10px 0;
    width: 100%;
    box-sizing: border-box;
}

